ASSET_BASE_URL=https://wiki.example.abc/w/images/
DOWNLOAD_ASSETS=true
NAMESPACE=0
OUTPUT_DIR=./docs/wiki
VERBOSE=true
WIKI_DB_HOST=wikisql.example.com
WIKI_DB_NAME=wiki_db
WIKI_DB_PASS=PASS
WIKI_DB_PORT=3306
WIKI_DB_USER=wiki_user
WIKI_TABLE_PREFIX=

FILES_DIR=./static/files/wiki
FILE_BASE_URL=/files/wiki/
IMAGES_DIR=./static/img/wiki
IMAGE_BASE_URL=/img/wiki/

#FILES_DIR=./docs/assets/wiki/files
#FILE_BASE_URL=../assets/wiki/files/
#IMAGES_DIR=./docs/assets/wiki/img
#IMAGE_BASE_URL=../assets/wiki/img/
