NAMESPACE=0
REDIRECT_MAP_FILE=redirects.yaml
VERBOSE=true
WIKI_DB_HOST=wikisql.example.com
WIKI_DB_NAME=wiki_db
WIKI_DB_PASS=PASS
WIKI_DB_PORT=3306
WIKI_DB_USER=wiki_user
WIKI_TABLE_PREFIX=
PAGE_BASE_URL=http://docs.example.com/
FILE_BASE_URL=http://docs.example.com/assets/files/
IMAGE_BASE_URL=http://docs.example.com/assets/images/

PORT=8080
NEW_BASE_URL=http://docs.example.com/